extends _layout

block content
  form(action='/gallery', method='POST', enctype='application/x-www-form-urlencoded')
    input(type='hidden', value='PUT', name='_method')
    input(type='text' name='author')
    input(type='text' name='link')
    input(type='text' name='description')
    button Submit