extends _layout

block content
    div#galleryContent
      div.galleryPreview
      div.galleryFunction
        a(href="/new_photo") Add new photo
      div.photos
        each photo in photos
          p.author #{photo.author}
          p.description #{photo.description}
          a.galleryImage(href='/gallery/#{photo.id}')
            img(src='#{photo.link}')