extends _layout

block content
  div#galleryFunction
    a(href="/new_photo") Add new photo
  div#galleryContent
    each photo in photos
      div.photos
        p.author #{photo.author}
        p.description #{photo.description}
        a.galleryImage(href='/gallery/#{photo.id}')
          img(src='#{photo.link}')