extends _layout

block content
  form(action='/gallery' method='POST' enctype='application/x-www-form-urlencoded')
    input(type='text' name='author' placeholder='Author')
    input(type='text' name='description' placeholder='Description')
    input(type='text' name='link' placeholder='Link URL')
    button Submit
  a(href='/')
    button Back to the gallery
