body {
  height: 100%;
  bottom left;
  background-repeat: no-repeat;
  background-image: url("https://s-media-cache-ak0.pinimg.com/236x/1c/fe/ae/1cfeaea566fca482b47b163af0bd7d64.jpg");
}

#galleryContent {
  background-color: black;
  height: 100%;
}

.galleryPreview {

}

#galleryFunction {
  display: block;
  float: left;
  width: 500px;
}


.photos {
  display: block;
  text-align: right;
  float: right;
  width: 500px;
}

p.author {
  display: inline-block;
  padding-right: 50%;
}

p.description {
  display: inline-block;
  padding-left: 50%;
}

a.galleryImage img {
  display: block;
  width: 100%;
}